<div id="welcome-page-heading">
  <h1>Scottish Animal Shelter</h1>
</div>

<div>
  <p>Welcome to the Scottish Animal Shelter App!</p>
</div>


<div id="front_page_image">
  <img src="/front-page.jpg" alt="cute dog" height="200" width="200"></img>
</div>
