<div id="front-page-title">
  <h2><a href= "/home"></a>Welcome to the Scottish Animal Shelter App!</h2>
</div>
<br>
<br>
<br>
<div id="front_page_image">
  <img src="/front-page.jpg" alt="cute dog" height="200" width="200" id="dog_pic"></img>
</div>
