<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Scottish Animal Shelter</title>
    <link rel="stylesheet" href="../style.css">
  </head>
  <body>
    <div id="welcome-page-heading">
      <h1>Scottish Animal Shelter</h1>
    </div>
    <nav id="menu">
      <li class="menu-item"><a href="/home"></a>Home</li>
      <li class="menu-item"><a href="/animals"></a>Animals</li>
      <li></li>
    </nav>
    <content>
      <%= yield %>
      </content>
  </body>
</html>
