<h2>List of Owners</h2>

<div id="owners-wrapper">
  <% @owners.each do |owner| %>

  <div class="owner">
    <h3><a href="/owners"></a></h3>
      <p> Name: <%= owner.name %> </p>
      <p> Address: <%= owner.address %> </p>
      <p> Pet: <%= owner.pet_id %> </p>
      <a href="/owners/<%= owner.id %>/edit">Edit</a>
      <hr>
  </div>
  <% end %>
</div>
