<h2>List of Owners</h2>

<div id="owners-loop">
  <% @owners.each do |owner| %>

  <div class="owner">
    <h3><a href="/owners"></a></h3>
      <p> <b>Name:</b> <%= owner.name %> </p>
      <p> <b>Address:</b> <%= owner.address %> </p>
      <a href="/owners/<%= owner.id %>/edit">Edit</a>
      <form action="/owners/<%= owner.id %>/delete"  method="post"> <input type="submit" value="Delete">
      </form>
      <hr>
  </div>
  <% end %>
</div>
